.Masterpane {
	-fx-background-color: white;
}

.tab-pane {
	-fx-background-color: #dedede;
	-fx-border-color: #939ab5;
	-fx-border-width: 5px;
	-fx-border-radius: 10 10 0 0;
	-fx-background-radius: 10 10 0 0;
}

.tab {
	-fx-pref-width: 200;
	-fx-background-color: #dedede;
	-fx-border-radius: 10 10 0 0;
	-fx-background-radius: 10 10 0 0;
}

.tab-label {
	-fx-font-size: 120%;
	-fx-font-weight: bold;
}

.tab-header-background {
	-fx-background-color: #939ab5;
}

.GlobalFont {
	-fx-font-family: 'Calibri', Arial, sans-serif;
}
.MenuButton {
	-fx-border-color: #b5b4b4;
	-fx-border-radius: 10 0 10 0;
	-fx-background-radius: 10 0 10 0;
	-fx-border-width: 4px;
}
.ButtonConfirm{
	-fx-border-color:#608fd5;
	-fx-font-weight: bold;
	-fx-font-size: 150%;
	-fx-text-fill: #608fd5;
}

.DescriptionLabels {
	-fx-font-size: 150%;
}

.DescriptionHeader {
	-fx-font-size: 250%;
	-fx-font-weight: bold;
	-fx-text-fill: #d62e22;
}

.LightlyHighlighted {
	-fx-font-weight: bold;
	-fx-font-size: 120%;
}

.Bg_high {
	-fx-fill: rgb(230, 86, 76, 0.1);
}

.Bg_low {
	-fx-fill: rgb(94, 145, 235, 0.1);
}

.Tooltip_text {
	-fx-text-fill: #d62e22;
	-fx-font: bold 14px sans-serif;
	-fx-padding: 5;
	-fx-border-width: 3px;
	-fx-border-color: black;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-background-color: #b5b4b4;
}

.Tooltip_invisible {
	-fx-background-color: transparent;
}

.Tooltip_visible {
	-fx-background-color: #e6564c;
	-fx-border-color: black;
}